<div class="container">
  <div class="row">
    <h2 class="text-center">Find Your Future Coach</h2>
      <% @users.each do |user|%>
        <div class="col-xs-12 col-lg-4 coach-card">
             <%= cl_image_tag user.photo, class: "coach-card-avatar", width: 150, height: 150, crop: :thumb, gravity: :face %>
            <h4><%=link_to user.name, user_path(user) %></h4>
            <p><%= user.category %></p>
        </div>
      <% end %>
  </div>
  <div class="row button">
    <%= link_to "Go back", root_path, class: "btn-coaches text-center" %>
  </div>
</div>
