.btn-search {
  color: #FEAA01;
  border: 1px solid #FEAA01;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}
.btn-search:hover {
  opacity: 1;
  text-decoration: none;
  color: #FEAA01;
}
