.service-card {
  display: flex;
  flex-direction: column;
  border-style: 1px, solid;
}

.service-title {
  text-align: center;
}

.service-card-infos {
  display: flex;
}
.service-card-validation {
  display: flex;
  flex-direction: column;
}

