.service-index {
  color: #203b60;
  padding: 20px;
}

.service-display {
  margin: 15px;
  padding: 10px;
}

.service-card-box {
  height: 425px;
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.service-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  color: white;
  font-size: 30px;
  padding-top: 20px;
}

.service-card-image {
  border-radius: 50%;
  position: absolute;
  top: 60px;
  right: 40px;
  border-style: none;
}

.service-card-description {
  font-size: 18px;
  padding-top: 100px;
  padding-right: 30px;
  padding-left: 30px;
}

